# Andmetega tutvumine ja andmestiku puhastamine
Andmed on kogutud bakalaureusetaseme ning integreeritud õppe tudengite kohta Tartu Ülikooli õppeinfosüsteemi poolt.

### 1. Ettevalmistused

In [1]:
from pathlib import Path
from sqlite3 import Timestamp
import pandas as pd
from collections import Counter

In [2]:
# Esialgse andmestiku sisselugemine
with open ("../data/df_all_from_db.csv", mode='r', encoding='utf-8') as f:
    timestamp_line = f.readline().strip()
    timestamp = timestamp_line.removeprefix("#").lstrip() if timestamp_line.startswith("#") else None
df = pd.read_csv("../data/df_all_from_db.csv", sep=',', skiprows=1 if timestamp else None)

print(f"Loaded data with timestamp {timestamp}")

Loaded data with timestamp None

In [3]:
# Ridade ja veergude arv
df.shape

(48524, 46)

In [4]:
pd.set_option('display.max_columns', 46)
df.head()

,person.UUID,study.place.UUID,debug.study.place.ID,debug.student.matricula.nr,study.level,code.of.curriculum,curriculum.UUID,faculty.code,year_immatriculation,year_exmatriculation,semester_current,study_period_in_years,dropout,admission.special.conditions,prev.study.level,prev.study.level.factor,nr.of.previous.studies.in.UT,nr.of.previous.finished,normalized_score,cum.credits.earned,cum.extracurricular.credits,cum.all.results,cum.negative.results,cum.grade.A,cum.grade.B,cum.grade.C,cum.grade.D,cum.grade.E,cum.grade.F,cum.passed,cum.not.passed,cum.not.present,sum_passed_grade,sum_failed_grade,days.on.academic.leave,days.studying.abroad,days.as.visiting.student,credits.cancelled.during.2w,nr.of.courses.registered,nr.of.courses.with.any.grade,credits.registered,nr.of.employment.contracts,workload,total_economic_support,on.extended.study.period,active
0,68608a39058158747812bf83f16fe430,9eef27d3d36a97395f48266609c1f842,699421,85314,514 Professional higher education programmes,146997,995f22629fcc2b38dc157f49913b8c53,HV,2022,2022,1.0,0,0,0.0,Master's programmes,0,3,0,0.16667,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.0,15,0,32.0,1,full,0.0,0,1
1,86b713d7610e1502cc9423ae877370cd,69ebe31838fa32f9173ff7b975f59410,296630,A40654,614 Master's programmes,2613,7bb31c839c3fcebd9f0affdf22a174bc,LT,2011,2011,1.0,0,1,0.0,Bachelor's programmes,0,2,1,0.10667,0.0,0.0,2,2,0,0,0,0,0,1,0,0,1,0,1,0,0,0,6.0,2,2,12.0,0,full,0.0,0,0
2,86b713d7610e1502cc9423ae877370cd,de4d25c1af13296909bb1e3bebf4274c,360580,A40654,614 Master's programmes,2613,7bb31c839c3fcebd9f0affdf22a174bc,LT,2013,2020,15.0,7,0,0.0,Bachelor's programmes,0,3,1,0.00000,84.0,15.0,21,3,3,3,1,1,1,1,9,0,2,18,1,2190,0,0,60.0,20,20,93.0,0,full,2300.0,0,0
3,150f47a5a2c037970e692e94705ca031,e1db61aea8e997dc9f273a2d4276ef76,358191,90702,614 Master's programmes,2549,03423eb4b662ed11afdc8302e3e57b24,HV,2013,2018,11.0,5,0,0.0,1-year teacher training programmes,0,3,1,0.00000,90.0,36.0,20,1,3,4,4,1,0,0,7,0,1,19,0,1096,0,0,43.0,21,20,99.0,0,full,0.0,0,0
4,2500a61304047bfeb131705672219356,237bc43dbd7405cb725d615fe1634d6d,450845,92664,511 Bachelor's programmes,2448,52c8137167fe84931bcd720a453ebd63,SV,2016,2017,3.0,1,1,0.0,Doctoral programmes,0,3,0,0.72804,77.0,17.0,21,0,15,2,0,0,0,0,4,0,0,21,0,0,0,0,46.5,21,21,77.0,0,full,500.0,0,0

### 2. Abimeetodite defineerimine

In [5]:
def fillna(df_col, new_values):
    na_count_before = df_col.isna().values.sum()
    df_col.fillna(new_values, inplace=True)
    na_count_after = df_col.isna().values.sum()
    return na_count_before - na_count_after

In [6]:
def write_timestamp(filename, timestamp):
    print(f"Output timestamp to {filename}")
    with open(filename, mode='w') as f:
        f.write(timestamp or "")

In [7]:
def validate_data(dataframe):
    duplicates = [(k, v) for k, v in Counter(dataframe['study.place.UUID']).most_common() if v > 1]
    if len(duplicates) > 0:
        print(f"Warning: {len(duplicates)} study place UUID-s appear more than once in the dataset")
    
    missing_values = df.isna().values.sum()
    if missing_values > 0:
        raise AssertionError(f"{missing_values} missing values in the dataset")

In [8]:
def write_data(filename, description, dataframe, *, index=False, rowcount=True):
    print(f"Output {description} to {filename}" + (f" ({len(dataframe)} rows)" if rowcount else ""))
    dataframe.to_csv(filename, index=index)
    return len(dataframe)

In [9]:
# Exporting training and prediction data for each study level into separate files
def output_data(df, study_level, timestamp):
    # Create table describing data (cumulative metrics, missing values, etc)
    desc = df.describe(include='all').transpose()
    desc.insert(1, 'missing_count', len(df) - desc['count'])

    Path(f"./{study_level}").mkdir(parents=True, exist_ok=True)

    write_data(f"./{study_level}/df_describe.csv", "descriptions", desc, index=True, rowcount=False)
    write_timestamp(f"./{study_level}/df_timestamp.txt", timestamp)

    total = 0
    total += write_data(f"./{study_level}/df_training.csv", "training data", df[df["active"] != 1])
    total += write_data(f"./{study_level}/df_prediction.csv", "prediction data", df[df["active"] == 1])
    return total

In [10]:
def output_data_2(df, timestamp):
    # Create table describing data (cumulative metrics, missing values, etc)
    desc = df.describe(include='all').transpose()
    desc.insert(1, 'missing_count', len(df) - desc['count'])


    write_data("df_describe.csv", "descriptions", desc, index=True, rowcount=False)
    write_timestamp("df_timestamp.txt", timestamp)

    total = 0
    
    total += write_data("df_cleaned.csv", "cleaned data", df)
    return total

### 3. Andmestiku puhastamine

#### 3.1. Teadaolevalt puuduvate (NaN) väärtuste täitmine
*Filling known missing values.*

In [11]:
filled_special_conditions = fillna(df['admission.special.conditions'], 0)
print(f"Filled {filled_special_conditions} missing values in admission.special.conditions with 0.")

Filled 828 missing values in admission.special.conditions with 0.

In [12]:
norm_score_mean_per_curriculum = df.groupby('code.of.curriculum')['normalized_score'].transform('mean')
norm_score_mean_per_faculty = df.groupby('faculty.code')['normalized_score'].transform('mean')
filled_curriculum = fillna(df['normalized_score'], norm_score_mean_per_curriculum)
filled_faculty = fillna(df['normalized_score'], norm_score_mean_per_faculty)
print(f"Filled {filled_curriculum} missing values in normalized_score with curriculum average.")
print(f"Filled {filled_faculty} missing values in normalized_score with faculty average.")

Filled 862 missing values in normalized_score with curriculum average.
Filled 284 missing values in normalized_score with faculty average.

#### 3.2. Uue veeru lisamine varasemate lõpetamata uuringute arvu jaoks
*Adding a new column that contains information about the number of previous unfinished studies.*

In [13]:
df['nr.of.previous.unfinished'] = df['nr.of.previous.studies.in.UT'] - df['nr.of.previous.finished']

#### 3.3. Enne esimese semestri algust eksmatrikuleeritud tudengitele vastavate ridade eemaldamine
*Some missing values appear for people who were exmatriculated before the first semester began. Just dropping them for now.*

In [14]:
full_len = len(df)
df.dropna(subset=['semester_current'], inplace=True)
final_len = len(df)
print(f"Removed {full_len - final_len} rows which contained missing values in semester_current column. Final length {final_len} rows.")

Removed 2 rows which contained missing values in semester_current column. Final length 48522 rows.

### 4. Identifikaatori lisamine
*Adding a new identifier.*

In [15]:
df = df.reset_index().rename(columns={'index':'id'})

### 5. Andmete valideerimine
*Data validation.*

In [16]:
validate_data(df)

Warning: 7 study place UUID-s appear more than once in the dataset

### 6. Klasside tasakaalustamatuse kontrollimine
*Checking whether there is a class imbalance.*

For imbalanced datasets, maximizing F-measure is better than maximizing accuracy. For example, majority
class classifier has F-measure = 0.
How to learn on imbalanced data?
1. Undersampling – get rid of as many instances of dominant class as needed to roughly balance the
dataset. By doing this, we lose a lot of data.
2. Oversampling – make multiple copies of instances of the smaller class so that it would roughly balance
the dataset.
3. Augmentation – make slightly modified copies of instances of the smaller class so that it would roughly
balance the dataset.
4. Choosing an adequate performance estimate (for example F-measure)

In [17]:
df.groupby(['dropout']).size()

dropout
0    40389
1     8133
dtype: int64

### 7. Andmete eksportimine
*Output data.*

In [19]:
total = 0
total += output_data(df[df['study.level'].isin(["511 Bachelor's programmes", "503 Integrated Bachelor's and Master's programmes", "514 Professional higher education programmes"])], "../data/bachelor", timestamp)
total += output_data(df[df['study.level'] == "614 Master's programmes"], "../data/master", timestamp)
#total += output_data_2(df, timestamp)
print(f"Output {total} / {final_len} rows in separate directories based on study level")
#print(f"Output {total} / {final_len} rows")
assert(total == final_len)

Output descriptions to ./../data/bachelor/df_describe.csv
Output timestamp to ./../data/bachelor/df_timestamp.txt
Output training data to ./../data/bachelor/df_training.csv (21692 rows)
Output prediction data to ./../data/bachelor/df_prediction.csv (8712 rows)
Output descriptions to ./../data/master/df_describe.csv
Output timestamp to ./../data/master/df_timestamp.txt
Output training data to ./../data/master/df_training.csv (13777 rows)
Output prediction data to ./../data/master/df_prediction.csv (4341 rows)
Output 48522 / 48522 rows in separate directories based on study level